[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
langchain = "*"
openai = "*"
streamlit = "*"
bs4 = "*"
chromadb = "*"
pysqlite3-binary = "*"
tiktoken = "*"
fastapi = "*"
uvicorn = {extras = ["standard"], version = "*"}
pydantic = "*"
pdfplumber = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.10"
